@page
@model Asm2_PetShop.Pages.petgroup.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PetGroup</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PetGroup.PetGroupId" class="control-label"></label>
                <input asp-for="PetGroup.PetGroupId" class="form-control" />
                <span asp-validation-for="PetGroup.PetGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PetGroup.PetGroupName" class="control-label"></label>
                <input asp-for="PetGroup.PetGroupName" class="form-control" />
                <span asp-validation-for="PetGroup.PetGroupName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PetGroup.GroupDescription" class="control-label"></label>
                <input asp-for="PetGroup.GroupDescription" class="form-control" />
                <span asp-validation-for="PetGroup.GroupDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PetGroup.OriginalSource" class="control-label"></label>
                <input asp-for="PetGroup.OriginalSource" class="form-control" />
                <span asp-validation-for="PetGroup.OriginalSource" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
